Rules/Core v4/__pycache__/case_conversion_function.cpython-313.pyc
Rules/Core v4/__pycache__/list_manipulation_rules.cpython-313.pyc
Rules/Core v4/__pycache__/math_rules.cpython-313.pyc
Rules/Core v4/__pycache__/table_parsing_rules.cpython-313.pyc
